.fullScreen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #273746;
  color: white;
  border: 2px dashed grey;
  width: 400px;
  height: 450px;
  border-radius: 20px;
}

.xClose {
  width: 90%;
  text-align: right;
  color: #ff0000;
  cursor: pointer;
}

.smallLogo {
  width: 80px;
}

.whiteButton {
  width: 150px;
  height: 40px;
  background-color: white;
  border: none;
  color: black;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
.whiteButton:hover {
  background-color: #d0d3d4;
}

.inputField {
  width: 200px;
  height: 30px;
  background-color: black;
  color: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 10px 0px;
  padding-left: 0.5rem;
}
