.hashtag {
  color: #1da1f2;
  font-weight: bold;
  font-size: 1.13em;
  margin-bottom: 5px;
}

.tweetActions button {
  background: none;
  color: white;
  border: none; 
  cursor: pointer;
}

.heart {
  color: #fff;
  transition: color 0.2s;
  font-size: 16px;
}

.liked {
  color: #e0245e;
}

.likeCount {
  padding-left: 5px;
}